files:
  "/opt/elasticbeanstalk/hooks/appdeploy/post/99_make_storage_writable.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      chmod -R 777 /var/app/current/storage
      chmod -R 777 /var/app/current/bootstrap/cache
container_commands:
  01-artisan_migrate:
    command: "php artisan migrate --force"
    leader_only: true